<?php

$_helper = $this->objectManager->get('ICEShop\Icecatlive\Helper\Output');
$_block = $this->objectManager->get('ICEShop\Icecatlive\Block\Product\View\Extra');

$_product = $this->getProduct();

if($_additionalgroup = $this->getAdditionalData()): ?>
    <?php
    ?>
    <div class="box-collateral box-additional">

        <?php $i=0; foreach ($_additionalgroup as $_additional): $i++; ?>
            <h3><?php if(!empty($_additional['title'])){ echo $_additional['title']; }?></h3>
            <table class="data-table" id="product-attribute-specs-table-<?php echo $i?>">
                <col width="25%" />
                <col />
                <tbody>
                <?php foreach ($_additional['items'] as $_data): ?>
                    <tr>
                        <th class="label"><?php echo $this->escapeHtml($_data['label']) ?></th>
                        <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <!--<script type="text/javascript">decorateTable('product-attribute-specs-table-<?php /*echo $i*/?>')</script>-->
        <?php endforeach; ?>

    </div>
    <script type="text/javascript">
        //script which starts after page is loaded
        window.onload = function() {
            jQuery.ajax({crossDomain : true, url: "<?php echo $this->getIcecatStatisticsUrl($_product); ?>"});
        }
    </script>
<?php endif;?>