<script type="text/javascript">

    var error_limit = 0;

    function import_prod_info(update, full_import, error_import, process_hash){
        if(error_limit > 5){
            error_limit = 0;
            error_import = 0;
        }

        new Ajax.Request('<?php echo \Magento\Framework\App\ObjectManager::getInstance()->get('\Magento\Backend\Model\UrlInterface')->getUrl('iceshop_icecatlive/data/importproductinfo'); ?>', {
            method:     'get',
            parameters: {update: update, full_import: full_import, error_import: error_import, process_hash: process_hash},
            onSuccess: function(transport){

                var import_info = JSON.parse(transport.responseText);

                var current_products = '<p> Current product: '+import_info.current_product+'</p>';
                var process_hash = 0;
                if(import_info.process_hash){
                    process_hash = import_info.process_hash
                }
                var error = '';
                var success_imported = '';
                var full_icecat_product = '';
                var error_imported = '';
                var system_error = '';
                if(import_info.error){
                    error = '<p class="icecatlive_error">'+import_info.error+'</p>';
                }

                var check_count_product = 0;
                if(import_info.success_imported_product){
                    check_count_product =  parseInt(check_count_product, 10)+parseInt(import_info.success_imported_product, 10);
                    success_imported = '<p> Imported information for products: '+import_info.success_imported_product+'</p>';
                }
                if(import_info.error_imported_product){
                    check_count_product =  parseInt(check_count_product)+parseInt(import_info.error_imported_product, 10);
                    error_imported = '<p> Did not imported information for products: '+import_info.error_imported_product+'</p>';
                }
                if(import_info.full_icecat_product){
                    full_icecat_product = '<p> Full icecat products: '+import_info.full_icecat_product+'</p>';
                }
                if(import_info.system_error){
                    system_error = '<p class="icecatlive_error"> System error: '+import_info.system_error+'</p>';
                }
                if(check_count_product > import_info.current_product){
                    current_products = '<p> Current product: '+check_count_product+'</p>';
                }
                if(import_info.done != 1) {
                    import_prod_info(update, 0, 0, process_hash);
                }
                if (import_info.current_product == import_info.count_products) {
                    alert("The process has been finshed.");
                }
            }
        });
    }

</script>
<?php echo $this->getButtonHtml(); ?>
