<?php $import_info = $this->collectData(); ?>

<div class="entry-edit-head admin__collapsible-block">
    <table cellspacing="0" class="form-list">
        <colgroup class="label"></colgroup>
        <colgroup></colgroup>
        <colgroup class="scope-label"></colgroup>
        <colgroup class=""></colgroup>
        <tbody>

        <tr>
            <td><label><?php print "Success imported last time"; ?>:</label>
            </td>
            <td>
                <?php
                if ($import_info['success_imported_product']) {
                    echo $import_info['success_imported_product'];
                } else {
                    echo '0';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "Not updated products"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['count_not_updated_products']) {
                    echo $import_info['count_not_updated_products'];
                } else {
                    echo '0';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "Not imported last time"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['error_imported_product']) {
                    echo $import_info['error_imported_product'];
                } else {
                    echo '0';
                }
                ?>
                <label style="margin: 0 5px;"><?php print "of them full icecat products"; ?>
                    :</label>
                <?php
                if ($import_info['full_icecat_product']) {
                    echo $import_info['full_icecat_product'];
                } else {
                    echo '0';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "Files in cache"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['count_cache_files']) {
                    echo $import_info['count_cache_files'];
                } else {
                    echo '0';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "Start import time"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['startdate_imported_product']) {
                    echo $import_info['startdate_imported_product'];
                } else {
                    echo 'Import was not running';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "End import time"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['endtdate_imported_product']) {
                    echo $import_info['endtdate_imported_product'];
                } else {
                    echo 'Import was not completed';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "Start update time"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['startdate_update_product']) {
                    echo $import_info['startdate_update_product'];
                } else {
                    echo 'Update was not running.';
                }
                ?>
            </td>
        </tr>
        <tr>
            <td><label><?php print "End update time"; ?>:</label></td>
            <td>
                <?php
                if ($import_info['enddate_update_product']) {
                    echo $import_info['enddate_update_product'];
                } else {
                    echo 'Update was not completed.';
                }
                ?>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<style>
    #row_icecat_stats_icecatlive_statistics_product_stats > td.label {
        display: none;
    }
    .accordion .config .value {
        padding-right: 40px;
        vertical-align: middle;
        width: 70%;
    }
</style>

